footer{
    background-color: var(--azul-escuro);
    padding: 2em;
    text-align: center;

}

.logo-rodape{
width: 150px;
}


@media screen and (min-width:900px){
    footer{

        /* position: absolute; */
        margin: 0em 0em 0em 0em;
        flex-shrink: 0;
        text-align: center;

    }

}